<h1>
	<a href="http://markbetnel.com/work/note/" title="">Notes</a>
	<span class="byline">&larr; <a href="http://markbetnel.com/work/">Research</a></span>
	<span class="byline">&larr; <a href="http://markbetnel.com/">Mark Betnel</a></span>
</h1>
<ul class="nav">
  <li><a class="home" href="http://markbetnel.com/">Home</a></li>
  <li><a class="info" href="http://markbetnel.com/info">Info</a></li>
  <li><a class="work" href="http://markbetnel.com/work">Work</a></li>
  <li><a class="code" href="http://markbetnel.com/nullresult">Blog</a></li>
</ul>

